
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_1116283_o5y40msfcx.eot?t=1553860079070'); /* IE9 */
  src: url('//at.alicdn.com/t/font_1116283_o5y40msfcx.eot?t=1553860079070#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkgAAAJPAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApUawE2AiQDCAsGAAQgBYRtBzAbkQXInoFtG5suqeXMfKeMn6rEw9ca+v7e3gVBIapMFIEGVNHYemCXqWqlYyPqCW3dXa3pfgnH4xYkIKqgfMre5fJ8v6HxNa7C11gez8JVUmOYfDHrmiGlYz7P5fQm0IHM/97pvVzGGLYHLZoYYBxIge2JUWRFEnnD2AUv8DGBZkOmGbun1znoktmrAnFXSRu6CilZZtVGoWo4mB8br5Qa04s0Xkbfj18Wo4ukLNgbDy5OSrD/Fb4qntfPnQeENAEeL1FgAcjESWNpT6tgXKvmUpsxcKzG4Ku6DkLiqH7B/jq7vhUMQMMzGT3To6oTyIynCxifdAFFWVX3Crl8kUoil6Rh2mq7hde3khlnajljDt3LpSu9t0DJ//tttv61we/APkD9Kd8WgoEgLTemzMHVn8aWDD5+8F9kGhYBjXsKhT/Skf9DvuVmu5QyOjoDSZfWM7U1a0YNxbp9TfX0nb4WGvXdRKTBYIZCowkyswsotVhCpdEGms07O96ih9YqchPm3ACETndI2r1GodMLmdlPlPp9o9IZrWh2Fj0XtpgK1bOjyWYqodNE5UahcMPcEzdmSFZ9W+fNEV8gnaosLszOl6tnFJJeYktak4vMAoWOAjwFz5HvRxjrqEIuz5aZ4825OdH0plk3CqDHDo3YGClBjiakuCIhEQxnPZXPZxCpymfTHX11zQKipdTkaMGs+QHkmSMc1Pcor6RqpEWMCUjQIgF0CuYRny+C4uZ5FcTFZpUnFGKb5pxBYqhjdntX8HdHoJntTeHMKlQ3VaqoEAAAAAA=') format('woff2'),
  url('//at.alicdn.com/t/font_1116283_o5y40msfcx.woff?t=1553860079070') format('woff'),
  url('//at.alicdn.com/t/font_1116283_o5y40msfcx.ttf?t=1553860079070') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('//at.alicdn.com/t/font_1116283_o5y40msfcx.svg?t=1553860079070#iconfont') format('svg'); /* iOS 4.1- */
}


.iconfont {
  font-family: "iconfont" !important;
  font-size: inherit;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 2px;
}

.juejin:before {
  content: "\e600";
}





